<?xml version="1.0" encoding="UTF-8"?>

<openbox_menu>
<!-- Note: for localization support of menu items "client-menu" has to be removed here -->
<menu id="client-menu">
  <item label="Minimize">
    <action name="Iconify" />
  </item>
  <item label="Maximize">
    <action name="ToggleMaximize" />
  </item>
  <item label="Fullscreen">
    <action name="ToggleFullscreen" />
  </item>
  <item label="Roll Up/Down">
    <action name="ToggleShade" />
  </item>
  <item label="Decorations">
    <action name="ToggleDecorations" />
  </item>
  <item label="Always on Top">
    <action name="ToggleAlwaysOnTop" />
  </item>
  <!--
    Any menu with the id "workspaces" will be hidden
    if there is only a single workspace available.
  -->
  <menu id="workspaces" label="Workspace">
    <item label="Move Left">
      <action name="SendToDesktop" to="left" />
    </item>
    <item label="Move Right">
      <action name="SendToDesktop" to="right" />
    </item>
    <separator />
    <item label="Always on Visible Workspace">
      <action name="ToggleOmnipresent" />
    </item>
  </menu>
  <!--
    openbox default workspace selector
    to use replace above workspace menu with the example below
    the label is required, but you can change the text.

    <menu id="client-send-to-menu" label="Send to..." />
  -->
  <item label="Close">
    <action name="Close" />
  </item>
</menu>

<menu id="root-menu">
  <!-- Make client-list-combined-menu a submenu of root-menu 
       You must supply a label or it will not appear in root-menu -->
  <!--
  <menu id="client-list-combined-menu" label="Running..." />
  -->
  <item label="Terminal">
    <action name="Execute" command="foot" />
  </item>
  <menu id="fi_br" label="File Browser">
    <item label="Graphical">
    <action name="Execute" command="qtfm" />
    </item>
    <item label="In-terminal">
    <action name="Execute" command="foot -e nnn" />
    </item>
  </menu>
  <menu id="web_br" label="Web Browser">
    <item label="Graphical">
    <action name="Execute" command="firefox-wayland" />
    </item>
    <item label="In-terminal">
    <action name="Execute" command="foot -e elinks" />
    </item>
  </menu>
  <item label="Start...">
    <action name="Execute" command="fuzzel" />
  </item>
  <item label="Reconfigure">
    <action name="Reconfigure" />
  </item>
  <item label="Exit session">
    <action name="Exit" />
  </item>
</menu>

<menu id="some-custom-menu">
  <!--
    Creates menu title.
    To create an empty header with no text,
    set label=" ", not label=""
  -->
  <menu id="goto" label="Go to wrkspc...">
    <item label="1">
    <action name="GoToDesktop" to="1" wrap="no" />
    </item>
    <item label="2">
    <action name="GoToDesktop" to="2" wrap="no" />
    </item>
    <item label="3">
    <action name="GoToDesktop" to="3" wrap="no" />
    </item>
    <item label="4">
    <action name="GoToDesktop" to="4" wrap="no" />
    </item>
    <item label="5">
    <action name="GoToDesktop" to="5" wrap="no" />
    </item>
    <item label="Next">
    <action name="GoToDesktop" to="right" wrap="yes" />
    </item>
    <item label="Previous">
    <action name="GoToDesktop" to="left" wrap="yes" />
    </item>
  </menu>
  <item label="Volume ctrl">
    <action name="Execute" command="foot -e alsamixer" />
  </item>
  <item label="Wi-fi ctrl">
    <action name="Execute" command="wpa_gui" />
  </item>
</menu>

</openbox_menu>
